nav ul {
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.container {
  width: 100%;
  box-sizing: border-box;
  font-size: 0;
}
.main-content {
  width: 70%;
  box-sizing: border-box;
  padding: 20px;
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
}

.sidebar-content {
  background-color: rgb(193, 187, 187);
  width: 30%;
  box-sizing: border-box;
  padding: 20px;
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
  margin-top: 16px;
}

.header {
  background-color: rgb(65, 65, 65);
  color: rgb(255, 255, 255);
  text-align: center;
}
.navigation-content {
  background-color: rgb(110, 107, 107);
  color: rgb(255, 255, 255);
  height: 32px;
  line-height: 32px;
  text-align: left;
}

.footer-content {
  height: 32px;
  line-height: 32px;
  background-color: rgb(65, 65, 65);
  color: rgb(255, 255, 255);
  text-align: center;
}
